<ion-header [translucent]="true">
  <ion-toolbar class="directory-top-toolbar" [class.directory-top-toolbar--hidden]="directorySearchMode">
    <ion-title>Справочник</ion-title>
  </ion-toolbar>
  <ion-toolbar class="directory-search-toolbar" [class.directory-search-toolbar--searching]="directorySearchMode">
    <app-search-toolbar
      [value]="store.directorySearch"
      placeholder="Поиск по организациям"
      (valueChange)="store.directorySearch = $event"
      (focusChange)="setSearchFocused($event)"
      (canceled)="setSearchFocused(false)"
    ></app-search-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="shell">
  @if (!directorySearchMode) {
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Справочник</ion-title>
      </ion-toolbar>
    </ion-header>
  }

  <app-page-inset>
    <app-directory-view></app-directory-view>
  </app-page-inset>
</ion-content>
