:root {
  --ion-color-primary: #d95f43;
  --ion-color-primary-rgb: 217, 95, 67;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #bf543b;
  --ion-color-primary-tint: #dd6f56;

  --ion-color-dark: #1f2430;
  --ion-color-dark-rgb: 31, 36, 48;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1b202a;
  --ion-color-dark-tint: #353945;
}
